{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% block load_js %}
    <link rel="stylesheet" type="text/css" href="{% static 'assets/gritter/css/jquery.gritter.css' %}" />
    <script type="text/javascript" src="{% static 'assets/gritter/js/jquery.gritter.js' %}"></script>
    <script>
        $('#collectsong').click(function () {
            $.ajax({
                url:'{% url 'apis:SongCollect' music.id %}',
                type:'GET',
                success(data){
                    if(data.code==200){
                        if(data.msg.status){
                            $('#collectsong').html('<i class="glyphicon glyphicon-heart" style="color:rgb(219,88,96);"></i>收藏');
                        }else{
                            $('#collectsong').html('<i class="glyphicon glyphicon-heart-empty"></i>收藏');
                        }
                    }
                }

            })
        });
        $('#showlyric').click(function () {
            $('#showlyric').attr('disabled','');
            $('.accordion-inner').css('display','block');
            $.ajax({
                url:'{{ music.lyric }}',
                type:'GET',
                success(data){
                    $('.accordion-inner').html(data);

                }
            })
        })
    </script>
    <script src="{% static '/ckeditor/ckeditor/ckeditor.js' %}"></script>
    <script src="{% static '/ckeditor/ckeditor-init.js' %}"></script>
    <script>
        $('#commitcomments').click(function () {
            for (instance in CKEDITOR.instances)
                    CKEDITOR.instances[instance].updateElement();
            $.ajax({
                url:'{% url 'detail:song' music.id%}',
                type:'POST',
                dataType:'json',
                data:$('#commentsform').serialize(),
                success:function(data){
                    $.gritter.add({
                          title: '提交结果',
                          text: data.msg
                      });
                    {#$("html, body").animate({#}
                    {#    scrollTop: $("#latestcomments").offset().top }, {duration: 500,easing: "swing"});#}
                },
                beforeSend: function(xhr, settings) {
                  xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
              }
            })
            
        })
    </script>
    <script>
        function collect(ob) {
            var i = $(ob).attr('id');
            var u = '{% url 'apis:dianzan' 1%}';
            url = u.replace('1',i);
            $.ajax({
                url:url,
                type:'GET',
                success(data){
                    if(data.code==200){
                        if(data.msg.status){
                            $('#'+data.msg1.id).html('<i style="color: #31c27c" class="glyphicon glyphicon-thumbs-up"></i>'+data.msg1.nice)
                        }else{
                            $('#'+data.msg1.id).html('<i class="glyphicon glyphicon-thumbs-up"></i>'+data.msg1.nice)
                        }
                    }
                }
            })
        }
    </script>
{% endblock %}
{% block content %}
<section class="vbox" id="bjax-el">
            <section class="scrollable wrapper-lg">
              <div class="row">
                <div class="col-sm-8">
                  <div class="panel wrapper-lg">
                    <div class="row">
                      <div class="col-sm-3">
                        <img src="{{ music.img }}" class="img-full m-b">
                      </div>
                      <div class="col-sm-7">
                        <h2 class="m-t-none text-black">{{ music.name }}</h2>
                        <div class="m-b-lg">
                            <a href="{% static '#' %}" class="btn btn-success">播放</a>
                            <button class="btn btn-default" id="collectsong">{% if status %}<i class="glyphicon glyphicon-heart" style="color:rgb(219,88,96);" id="changestatus"></i>{% else %}<i class="glyphicon glyphicon-heart-empty"></i>{% endif %}收藏</button>
                            <a href="#comments" class="btn btn-default"><i class="glyphicon glyphicon-comment" style="color: pink"></i>评论({{ count }})</a>
                        </div>
                        <div>
                          分类: <a href="javascript:void(0)" class="badge bg-light">{{ music.category }}</a>
                        </div>
                      </div>
                    </div>
                    <div class="m-t">
                        <button id="showlyric" class="accordion-toggle btn btn-default" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                            点击查看歌词
                        </button>
                        <div class="accordion-inner" style="display: none">
                            暂无歌词
                        </div>
                    </div>
                      <h3 id="comments">精彩评论</h3>
                      <section class="comment-list block">
{#                        {% for item in goodcomments %}#}
                    {% for k,value in status_dianzan_dic1.items %}
                        <article class="comment-item">
                            <a class="pull-left thumb-sm">
                                <img src="{{ k.user.avator|thumbnail_url:'avatar' }}" class="img-circle">
                            </a>
                            <section class="comment-body m-b">
                                <header>
                                    <a href="javascript:void(0)"><strong>{{ k.user.username }}</strong></a>
                                    <span class="text-muted text-xs block m-t-xs">
                                        {{ k.create_time }}
                                    </span>
                                </header>
                                <div class="m-t-sm">{{ k.content |safe }}</div>
                                <button class="btn btn-default" id="{{ k.id }}" onclick="collect(this)">{% if value %}<i style="color: #31c27c" class="glyphicon glyphicon-thumbs-up"></i>{% else %}<i class="glyphicon glyphicon-thumbs-up"></i>{% endif %}{{ k.nice }}</button>
                            </section>
                      </article>
                        {% endfor %}
                    </section>
                      <h3 id="latestcomments">最新评论</h3>
                      <section class="comment-list block">
{#                        {% for item in latestcomments %}#}
                        {% for key,value in status_dianzan_dic.items %}
                      <article class="comment-item">
                        <a class="pull-left thumb-sm">
                          <img src="{{ key.user.avator|thumbnail_url:'avatar' }}" class="img-circle">
                        </a>
                        <section class="comment-body m-b">
                          <header>
                            <a href="javascript:void(0)"><strong>{{ key.user.username }}</strong></a>
                            <span class="text-muted text-xs block m-t-xs">
                              {{ key.create_time }}
                            </span>
                          </header>
                          <div class="m-t-sm">{{ key.content |safe }}</div>
                            <button class="btn btn-default" id="{{ key.id }}" onclick="collect(this)">{% if value %}<i style="color: #31c27c" class="glyphicon glyphicon-thumbs-up"></i>{% else %}<i class="glyphicon glyphicon-thumbs-up"></i>{% endif %}{{ key.nice }}</button>
                        </section>
                      </article>
                        {% endfor %}
                    </section>
                      <h3 class="m-t-lg m-b" style="font-size: 24px">评论<span style="color: #999;font-size: 17px">共{{ count }}条评论</span></h3>
                      <h4 class="m-t-lg m-b">期待你的精彩神评论</h4>
                    <form id="commentsform">
                        {% csrf_token %}
                      <div class="form-group">
                        {{ form.content }}
                      </div>
                      <div class="form-group">
                        <button id="commitcomments" type="button" class="btn btn-success">提交评论</button>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="panel panel-default">
                    <div class="panel-heading">Suggestions</div>
                    <div class="panel-body">
                      <article class="media">
                        <a href="{% static '#' %}" class="pull-left thumb-md m-t-xs">
                          <img src="{% static 'images/m18.jpg' %}">
                        </a>
                        <div class="media-body">
                          <a href="{% static '#' %}" class="font-semibold">Bootstrap 3: What you need to know</a>
                          <div class="text-xs block m-t-xs"><a href="{% static '#' %}">Travel</a> 2 minutes ago</div>
                        </div>
                      </article>
                      <article class="media">
                        <a href="{% static '#' %}" class="pull-left thumb-md m-t-xs">
                          <img src="{% static 'images/m19.jpg' %}">
                        </a>
                        <div class="media-body">
                          <a href="{% static '#' %}" class="font-semibold">Lorem ipsum dolor sit amet it.</a>
                          <div class="text-xs block m-t-xs"><a href="{% static '#' %}">Design</a> 2 hours ago</div>
                        </div>
                      </article>
                      <article class="media">
                        <a href="{% static '#' %}" class="pull-left thumb-md m-t-xs">
                          <img src="{% static 'images/m20.jpg' %}">
                        </a>
                        <div class="media-body">
                          <a href="{% static '#' %}" class="font-semibold">Sed diam nonummy tincidunt ut laoreet</a>
                          <div class="text-xs block m-t-xs"><a href="{% static '#' %}">MFC</a> 1 week ago</div>
                        </div>
                      </article>
                      <article class="media">
                        <a href="{% static '#' %}" class="pull-left thumb-md m-t-xs">
                          <img src="{% static 'images/m21.jpg' %}">
                        </a>
                        <div class="media-body">
                          <a href="{% static '#' %}" class="font-semibold">Lonummy nibh euismod sed laoreet</a>
                          <div class="text-xs block m-t-xs"><a href="{% static '#' %}">MFC</a> 1 week ago</div>
                        </div>
                      </article>
                      <article class="media">
                        <a href="{% static '#' %}" class="pull-left thumb-md m-t-xs">
                          <img src="{% static 'images/m22.jpg' %}">
                        </a>
                        <div class="media-body">
                          <a href="{% static '#' %}" class="font-semibold">Mibh euismod tincidunt ut laoreet</a>
                          <div class="text-xs block m-t-xs"><a href="{% static '#' %}">MFC</a> 1 week ago</div>
                        </div>
                      </article>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </section>
          <a href="{% static '#' %}" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open" data-target="#nav,html"></a>
{% endblock %}